version: '3'

volumes:
  mongo_dbdata:
  user_data:
  backup_volume:
  cache_volume:
  mongo_backup:

services:
  reverse-proxy:
    image: traefik:alpine
    command: --docker --api
    ports:
      - "80:80"     # Redirect Docker 8880 to traefik HTTP port
      - "443:443"     # Redirect Docker 8880 to traefik HTTPS port
      - "8080:8080"   # The Web UI (enabled by --api)
    volumes:
        # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik.toml:/etc/traefik/traefik.toml

  vms:
    build:
      context: .
      dockerfile: ./Dockerfile
    image: vms:latest
    restart: unless-stopped
    links:
      - mongodb
    environment:
      - MONGO_URL=mongodb://mongodb/volunteers
      - ROOT_URL=https://vms.goingnowhere.org
      - DELAY=4
      - MANDRILL_API_USER={{ mandrill_user }}
      - MANDRILL_API_KEY={{ mandrill_key }}
      - NODE_ENV=production
    labels:
      - traefik.frontend.rule=Host:vms.goingnowhere.org
      - traefik.frontend.entryPoints=http,https
      - traefik.port=80
    volumes:
      - user_data:/app/programs/server/profilePictures
    links:
      - mongodb

  mongodb:
    image: mongo:latest
    command: mongod --storageEngine=wiredTiger
    restart: unless-stopped
    volumes:
      - mongo_dbdata:/data/db
    labels:
      - traefik.enable=false

  mongo-backup:
    image: tiredofit/mongodb-backup
    links:
     - mongodb
    volumes:
      - mongo_backup:/backups
    environment:
      - DB_HOST=mongodb
      - DB_DUMP_FREQ=1440
      - DB_DUMP_BEGIN=0000
      - DB_CLEANUP_TIME=8640
      - MD5=TRUE
      - COMPRESSION=XZ
    restart: always

  volumerize:
    image: blacklabelops/volumerize
    command: backup
    volumes:
      - user_data:/source/user_data:ro
      - backup_volume:/backup
      - cache_volume:/volumerize-cache
    environment:
      - "VOLUMERIZE_SOURCE=/source"
      - "VOLUMERIZE_TARGET=file:///backup"
      - "TZ=Europe/Berlin"
      - "VOLUMERIZE_JOBBER_TIME=0 0 2 * * *"
      - "VOLUMERIZE_FULL_IF_OLDER_THAN=7D"
      - "VOLUMERIZE_DUPLICITY_OPTIONS=--no-encryption --volsize 500"
    restart: always

